<div class="container">
    <div class="row">
      <div class="col">
        <img 
          src="https://openclipart.org/download/247319/abstract-user-flat-3.svg" 
          alt="User"
          class="img-responsive"
          style="max-height: 300px;">
      </div>
      <div class="col-md-8">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-2">
              <label for="email"  >E-Mail:</label>
            </div>
            <div class="col-md-6">
              <input 
                type="email" 
                id="email" 
                class="form-control"
                formControlName="EMail">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="password" >Passwort:</label>
            </div>
            <div class="col-md-6">
              <input 
                type="password" 
                id="password" 
                class="form-control"
                formControlName="Password">
            </div>
          </div>
          <hr>
          <button class="btn btn-primary" [disabled]="!loginForm.valid" >Login</button>
        </form>
        <span *ngIf="loginRequestFailed" style="color:red">Wrong User Data!</span>
      </div>
    </div>
  </div>